<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkgs.mapper.TopicMapper">

    <!-- resultMap -->
    <resultMap id="resultMap" type="com.pkgs.entity.TopicEntity">
        <result column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="data_id" property="dataId"/>
        <result column="name" property="name"/>
        <result column="link" property="link"/>
        <result column="desc" property="desc"/>
        <result column="update_time" property="updateTime"/>
        <result column="done" property="done"/>
    </resultMap>

    <sql id="fields">
        `id` ,
        `parent_id` ,
        `data_id` ,
        `name` ,
        `link` ,
        `desc` ,
        `update_time` ,
        `done`
    </sql>

    <sql id="search">
        <where>
            <if test="obj.id!=null and obj.id!=''">
                AND `id` LIKE concat('%',#{obj.id},'%')
            </if>
            <if test="obj.parentId!=null and obj.parentId!=''">
                AND `parent_id` LIKE concat('%',#{obj.parentId},'%')
            </if>
            <if test="obj.dataId!=null and obj.dataId!=''">
                AND `data_id` LIKE concat('%',#{obj.dataId},'%')
            </if>
            <if test="obj.name!=null and obj.name!=''">
                AND `name` LIKE concat('%',#{obj.name},'%')
            </if>
            <if test="obj.link!=null and obj.link!=''">
                AND `link` LIKE concat('%',#{obj.link},'%')
            </if>
            <if test="obj.desc!=null and obj.desc!=''">
                AND `desc` LIKE concat('%',#{obj.desc},'%')
            </if>
            <if test="obj.updateTime!=null and obj.updateTime!=''">
                AND `update_time` LIKE concat('%',#{obj.updateTime},'%')
            </if>
            <if test="obj.done!=null and obj.done!=''">
                AND `done` LIKE concat('%',#{obj.done},'%')
            </if>
        </where>
    </sql>

    <insert id="save" parameterType="com.pkgs.entity.TopicEntity">
        INSERT INTO topic_t(
            `id` ,
            `parent_id` ,
            `data_id` ,
            `name` ,
            `link` ,
            `desc` ,
            `update_time` ,
            `done`
        ) VALUES(
            #{id},
            #{parentId},
            #{dataId},
            #{name},
            #{link},
            #{desc},
            #{updateTime},
            #{done}
        )
    </insert>

    <select id="selectByMap" resultMap="resultMap" parameterType="java.util.Map">
        SELECT
        <include refid="fields"/>
        FROM
        topic_t
        WHERE
    </select>

    <select id="queryTopTopics" resultMap="resultMap">
        SELECT
        <include refid="fields"/>
        FROM
        topic_t
        WHERE
        parent_id IS NULL
    </select>

    <select id="queryTopics" resultMap="resultMap">
        SELECT DISTINCT
        topic_t.*
        FROM
        topic_t
        LEFT JOIN top_answer_t ON top_answer_t.topic_id = topic_t.id
        WHERE
        topic_t.parent_id = #{parent_id}
        AND topic_id IS NOT NULL
    </select>
</mapper>