<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${mapperName}">

    <!-- resultMap -->
    <resultMap id="resultMap" type="${entityName}">
        #foreach ($f in $fields)
        <result column="${f.columnName}" property="${f.fieldName}"/>
        #end
    </resultMap>

    <sql id="fields">
         #foreach ($f in $fields)
         `${f.columnName}` #if($foreach.hasNext),#end

         #end
    </sql>

    <sql id="search">
         <where>
            #foreach ($f in $fields)
            <if test="cm.${f.fieldName}!=null and cm.${f.fieldName}!=''">
                AND `${f.columnName}` LIKE concat('%',#{cm.${f.fieldName}},'%')
            </if>
            #end
         </where>
    </sql>

    <select id="selectByMap" resultMap="resultMap" parameterType="java.util.Map">
        SELECT
            <include refid="fields"/>
        FROM
            ${tableName}
        WHERE
    </select>
</mapper>