package com.pkgs.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

import com.pkgs.entity.${entityName};

/**
 * TODO: Mapper for ${entityName}
 * <p>
 * Author: cs12110 create at: ${createTime}
 * Since: 1.0.0
 */
@Mapper
public interface ${mapperName} extends BaseMapper<${entityName}> {
}
