package com.pkgs.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;

import java.util.List;
import java.util.Map;

import com.pkgs.entity.${entityName};

/**
 * TODO: Mapper for ${entityName}
 * <p>
 * @author cs12110 create at: ${createTime}
 * Since: 1.0.0
 */
@Mapper
public interface ${mapperName} extends BaseMapper<${entityName}> {

 /**
     * 新增
     *
     * @param entity entity
     * @return int
     */
    int save(${entityName} entity);

    /**
     * 统计符合条件的数据
     *
     * @param search 查询条件
     * @return int
     */
    int selectCount(@Param("cm") ${entityName} search);


    /**
     * 分页查询
     *
     * @param page      分页参数
     * @param columnMap 查询条件
     * @return List
     */
    List<${entityName}> selectByMap(Page<${entityName}> page, @Param("cm") Map<String, Object> columnMap);
}
