<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkgs.mapper.BookTagMapper">

    <!-- resultMap -->
    <resultMap id="resultMap" type="com.pkgs.entity.douban.BookTagEntity">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="books" property="books"/>
        <result column="page" property="page"/>
        <result column="status" property="status"/>
        <result column="link" property="link"/>
    </resultMap>

    <sql id="fields">
        `id` ,
        `name` ,
        `books` ,
        `status` ,
        `page` ,
        `link`
    </sql>

    <sql id="search">
        <where>
            <if test="cm.id != null and cm.id != ''">
                AND `id` LIKE concat('%',#{cm.id},'%')
            </if>
            <if test="cm.name != null and cm.name != ''">
                AND `name` LIKE concat('%',#{cm.name},'%')
            </if>
            <if test="cm.books != null and cm.books != ''">
                AND `books` LIKE concat('%',#{cm.books},'%')
            </if>
            <if test="cm.status != null and cm.status != ''">
                AND `status` LIKE concat('%',#{cm.status},'%')
            </if>
            <if test="cm.page != null and cm.page != ''">
                AND `page` LIKE concat('%',#{cm.page},'%')
            </if>
            <if test="cm.link != null and cm.link != ''">
                AND `link` LIKE concat('%',#{cm.link},'%')
            </if>
        </where>
    </sql>

    <insert id="save" parameterType="com.pkgs.entity.douban.BookTagEntity">
        INSERT INTO t_douban_book_tag(
        `id` ,
        `name` ,
        `books` ,
        `status` ,
        `page` ,
        `link`
        ) VALUES(
        #{id},
        #{name},
        #{books},
        #{status},
        #{page},
        #{link}
        )
    </insert>

    <update id="updatePageNum">
        UPDATE
        t_douban_book_tag
        SET
        page = #{page}
        WHERE
        id = #{tagId}
    </update>

    <update id="updateStatus">
        UPDATE
        t_douban_book_tag
        SET
        status = #{status}
        WHERE
        id = #{id}
    </update>

    <select id="selectByMap" resultMap="resultMap" parameterType="java.util.Map">
        SELECT
        <include refid="fields"/>
        FROM
        t_douban_book_tag
        <include refid="search"/>
    </select>

    <select id="selectCount" resultType="java.lang.Integer" parameterType="com.pkgs.entity.douban.BookTagEntity">
        SELECT
        COUNT(*)
        FROM
        t_douban_book_tag
        <include refid="search"/>
    </select>
</mapper>